@media only screen and (max-width: 768px) {
  body{
    background-color: #ffffff;
  }

  #header {
    width: 100%;
    top: 0px;
    height: 15%;
    color: #ffffff;
    background-color: #ff0000;
  }

  #content {
    width: 100%;
    left: 0px;
    right: 0px;
    top: 16%;
    bottom: 48%;
  }

  #left-sidebar{
    width: 100%;
    top: 53%;
    bottom: 32%;
  }

  #right-sidebar{
    width: 100%;
    top: 69%;
    bottom: 16%;
  }

  #footer {
    width: 100%;
    height: 15%;
    top: 85%;
    bottom: 0px;
    color: #ffffff;
    background-color: #0000ff;
  }

}
