body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #000080;
}

#header {
 position:fixed;
 top:0px;
 left:0px;
 right:0px;
 height:15%;
 overflow:hidden;
 color: #000000;
 background-color: #ffff99;
}

#left-sidebar {
 position:fixed;
 top:16%;
 left: 0px;
 width: 150px;
 bottom:16%;
 color: white;
 background-color: #99ffff;
}

#right-sidebar {
 position:fixed;
 top:16%;
 right:0px;
 width:150px;
 bottom:16%;
 color: white;
 background-color: #99ffff;
}

#footer {
 position:fixed;
 height:15%;
 left:0px;
 right:0px;
 bottom:0px;
 color: white;
 background-color: #ffffff;
}

#content {
 position:fixed;
 top:16%;
 bottom:16%;
 width: 58%;
 left:21%;
 color: white;
 background-color: #ff99ff;
}
@media only screen and (max-width: 768px) {
  #left-sidebar{
    display: none;
  }
  #right-sidebar{
    display: none;
  }
  #content {
    width: 100%;
    left: 0%;
  }
}
div {display:block; border:1px solid black;}
