body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #ffffff; /* Navy */
}

div {
  display: block;
}

/* Header is awesome because it gives you places to put Home, login links and so forth.  */
#header {
 position:fixed;
 top:0px;
 left:0px;
 right:0px;
 height:15%;
 overflow:hidden;
 color: #ffffff;
 background-color: #ff0000;
}

/* Notice that the position is fixed and so is the width. I don't really like the colors I've chosen, but they are noticeable for layout performance purposes */
#left-sidebar {
 position:fixed;
 top:16%;
 left: 0px;
 width: 150px;
 bottom:16%;
 color: #000000;
 background-color: #99ffff;
}

#right-sidebar {
 position:fixed;
 top:16%;
 right:0px;
 width:150px;
 bottom:16%;
 color: #000000;
 background-color: #00ff00;
}

#footer {
 position:fixed;
 height:15%;
 left:0px;
 right:0px;
 bottom:0px;
 color: #000000;
 background-color: #0000ff;
}

#content {
 position:fixed;
 top:16%;
 bottom:16%;
 width: 58%; /* Width of the content is subject to changes to browser window and not fixed like that of its sidebar siblings */
 left:21%;
 color: #ffffff;
 background-color: #ff99ff;
}

#myButton {
  color: #000000;
}

#myInput {
  color: #000000;
}
